img {
    width: 35%;
    justify-content: center;
    /* display: block; */
    margin-left: 10%;
    /* margin-right: 50%; */
    border-radius: 10%;
}

h1, h2 {
    margin-left: 5%;
    display: flex;
    display: block;
    color:#79B4A9;
}

ul#mini-bio {
    justify-content: center;
    float:right;
    /* margin-left: 60%;
    line-height: 50px;
    width: calc(var(--variable-width) + 20px); */
    color: #478468;

}

li#minis{
    margin-right: 150px;
    line-height: 50px;
    width: calc(100% - 30px);
    font-size: 20px;
}

ul#socials{
    list-style-type: none;
    /* display: inline; */
    display: flex;
    margin-right: 15px;
    font-weight: 800;
    color: #93827F;
}

li#socials{
    padding: 10px;
    margin-right: 145px;
}