img {
    width: 25%;
    justify-content: center;
    display: block;
    margin-left: 10%;
    /* margin-right: 50%; */
    border-radius: 10%;
}

h1, h2 {
    margin-left: 5%;
    display: flex;
    display: block;
    color:#79B4A9;
}

ul#mini-bio {
    justify-content: center;
    float:right;
    margin-left: 10%;

}

ul#socials{
    list-style-type: none;
    /* display: inline; */
    display: flex;
    margin-right: 15px;
}

li#socials{
    padding: 10px;
    margin-right: 45px;
}