.navbar{
    display: inline!important;
}


#nav {
    display: inline!important;
    display: flex;
}

li.mx-5{
    display: inline;
    padding: 5px;
    text-decoration: none;
}

a {
    text-decoration: none !important;
    color: #394F49;
}