.experience__container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 2rem;
    justify-content: center;
    text-align: center;
}

.experience__container > div {
    background-color: #c0dca2;
    padding: 2.5rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(transition);

}

.experience__container > div:hover {
    background: transparent;
    border-color: #c0dca2;
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: #2A4747;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

h5 {
    text-align: center;
}

h3#exp {
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: #93827F;
}